//Iteration #8: The Movie Details Page

<h2>Movie Details</h2>
<h3>{{title}}</h3>
<p>
  Genre:{{genre}}
  Plot:{{plot}}
</p>
{{#each caast}}
  <p>name:{{name}}</p>
  <p>Occupation: {{occupation}}</p>
  <p>Catch phrase: {{catchPhrase}}</p>

{{/each}}